@use "../scss_partials/_colors" as *;
@use "../scss_partials/_global" as *;
//@use "../../assets/gallery/image_1.jpg" as background_image;
.hero {
  @include flex-box(row, center, center, wrap);  
  //background: linear-gradient(45deg, $neutral-color-2, $neutral-color-1);
    //@include flex-box(row, space-between,center, nowrap);
    box-sizing: border-box;
    text-align: center;
    color: $neutral-color-1;
    padding: 3.75rem 5%;
    background-image: url("../../assets/gallery/image_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 70vh;
    &__descr {
      background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
      width: 60%;
    }
    &__img {
      background-image: url("../../assets/gallery/image_1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 70vh;
    }

    button {
        background-color: $accent-color-2;
        color: $neutral-color-1;
        border: 0;
        border-radius: 1rem;
        padding: 0.4rem 2rem;
    }
    
}

.gallery {
    position: relative
}

.mySlides {
    display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .demo {
    opacity: 0.6;
    width: 10%;
  }