@use "../scss_partials/_colors" as *;
@use "../scss_partials/_global" as *;
//@use "../../assets/gallery/image_1.jpg" as background_image;
.button_container {
  background-color: $accent-color-2;
  width: 180px;
  .button_container--default-button {
      position: relative;
      background-color: transparent;
      width: 180px;
      height: 60px;
      padding: 20px;
      border-color: $neutral-color-2;
      z-index: 1;
      top: -5px;
      left: -5px;
      
  }
  .button_container--default-button:active {
          top: 0px;
          left: 0px;
      }
  
  .button_container--default-anchor {
      text-decoration: none;
      color: $neutral-color-1;
      font-weight: 400;
      font-style: normal;
      font-size: 1rem;
  }
  
}

.grow {
  min-width: 100%;
}

.hero {
  @include flex-box(row, center, center, wrap);  
  //background: linear-gradient(45deg, $neutral-color-2, $neutral-color-1);
    //@include flex-box(row, space-between,center, nowrap);
    box-sizing: border-box;
    text-align: center;
    color: $neutral-color-1;
    padding: 3.75rem 5%;
    background-image: url("../../assets/Salon_Image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 70vh;
    &__descr {
      background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
      width: 60%;
      padding: 1rem;
      @include flex-box(row, center, center, wrap);  
    }
    &__img {
      background-image: url("../../assets/gallery/image_1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-filter: blur(2px);
      filter: blur(2px);
    height: 70vh;
    }
}

.noMargin {
  margin: 0;
}

